blockquote,
body,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
input,
legend,
li,
ol,
p,
pre,
td,
textarea,
th,
ul,
figure {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style: none
}

body,
button,
input,
select,
textarea {
    font: 12px/1.5 tahoma, arial, 'Hiragino Sans GB', '\5b8b\4f53', sans-serif;
}

body {
    color: #fff;
    -webkit-font-smoothing: antialiased;
    background-color: #222;
}

a {
    text-decoration: none;
    cursor: pointer;
}



address,
cite,
dfn,
em,
var {
    font-style: normal;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.clearfix {
    zoom: 1;
}

.active-col{
    color:#ffd733;
}